# Auto-detect text files — Git autocrlf handles platform line-endings
*.cc text
*.cpp text
*.h text
*.hpp text
*.c text
*.md text
*.py text
*.sh text
*.sql text
*.json text
*.txt text
*.ps1 text
*.bat text
*.ahk text
*.cfg text
*.ini text
*.yaml text
*.yml text
*.toml text
*.xml text
*.html text
.css text
.js text
.ts text
.clang-format text
.editorconfig text
.gitattributes text
.gitignore text
CMakeLists.txt text
